<md-dialog aria-label="Settings">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div style="margin-top: -30px">
                    <h2>RIG URL</h2>
                    <md-input-container style="margin-top: -12px">
                        <label>URL</label>
                        <input ng-model="rig.url">
                    </md-input-container>
                </div>
                <div style="margin-top: -30px">
                    <h2>RIG Port</h2>
                    <md-input-container style="margin-top: -12px">
                        <label>Port</label>
                        <input ng-model="rig.port">
                    </md-input-container>
                </div>
                <div style="margin-top: -30px">
                    <h2>RIG Auth</h2>
                    <md-input-container style="margin-top: -12px">
                        <label>Bearer Token</label>
                        <input ng-model="rig.auth">
                    </md-input-container>
                </div>
                <div style="margin-top: -60px;">
                    <h2>Refresh</h2>
                    <md-slider style="margin-top: -20px" md-discrete ng-model="rig.update" step="1" min="1" max="60" aria-label="update"></md-slider>
                    <p style="margin-bottom: -20px; margin-top: -10px">Fetch Interval: {{rig.update}}s</p></div>
            </div>
            <md-divider></md-divider>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="save(true)">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>